<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'bootstrap/Css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="loader">
        <div class="lds-hourglass"></div>
    </div>
   
    <header>
      <a href="#" class="brend">E-commerce</a>
      <div class="menu_button"> <i class="fa fa-bars" id="menu_btn"></i>
        </div>
      <div class="navbar_a">
        <i class="fa fa-close" id="close"></i>
        <a href="#">Home</a>
        <a href="#category">Categories</a>
        <a href="{% url 'box' %}">Inbox</a>
        <a href="#">{{request.user.username}}</a>
        <a href="{% url 'login' %}">Login</a>

      </div>
   </header>
   <section class="main" id="main">
        <div class="conteiner">
            {% for pr in pd_list %}
            <div class="card">
                <div class="image">
                    <img src="{{ pr.ImageURl }}">
                </div>
                <h2>Nomi:</h2><b>{{ pr.product_name }}</b>
                <br>
                <h3>Narxi:</h3>{{pr.price}}$
                 <a href="{% url 'order' pr.id %}" type="button" class="btn-a">Sotib olish</a>
            </div>
            {% endfor %}
          
        </div>
   </section>
   <section id="category" class="category">
       <h2 class="text-category">Bizdagi barcha tovar turlari</h2>
        <div class="category-content">
            {% for cate in cat  %}
            <div class="card">
                <div class="image">
                    <img src="{{ cate.image.url}}">
                </div>
                <h2>Turi:</h2>{{cate.category_name}}
                <p>{{cate.description}}</p>
                <a href="{% url 'products' cate.id %}" type="button" class="btn-a">Hammasi</a>
            </div>
            {% endfor %}
           
           
        </div>
   </section>
   <div class="up-btn">
    <i class="fa fa-angle-up btn-up"></i>
   </div>

  <footer>
    <span>© 2021 | Created & Designed By Jakhongir</span>
   
  </footer>
   
    <script src="{% static 'bootstrap/Js/script.js' %}"></script>
</body>
</html>