<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'bootstrap/Css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="loader">
        <div class="lds-hourglass"></div>
    </div>
   
    <header>
      <a href="#" class="brend">E-commerce</a>
      <div class="menu_button"> <i class="fa fa-bars" id="menu_btn"></i>
        </div>
      <div class="navbar_a">
        <i class="fa fa-close" id="close"></i>
        <a href="{% url 'home' %}">Home</a>
     
        <a href="{% url 'box' %}">Inbox</a>
        <a href="#">{{request.user.username}}</a>
        <a href="{% url 'login' %}">Login</a>

      </div>
   </header>
   <section class="main" id="main">
        <div class="conteiner">
            {% for pr in pd_list %}
            <div class="card">
                <div class="image">
                    <img src="{{ pr.ImageURl }}">
                </div>
                <h2>Nomi:</h2><b>{{ pr.product_name }}</b>
                <br>
                <h3>Narxi:</h3>{{pr.price}}$
                <button class="btn">Sotib olish</button>
            </div>
            {% endfor %}
          
        </div>
   </section>

   <div class="up-btn">
    <i class="fa fa-angle-up btn-up"></i>
   </div>

   <footer>
    <span>© 2021 | Created & Designed By Jakhongir</span>
   
</footer>
   
    <script src="{% static 'bootstrap/Js/script.js' %}"></script>
</body>
</html>